<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="ip" value="" />
    <add key="usuario" value="" />
    <add key="pass" value="" />
    <add key="tipo_conexion" value="" />
    <add key="nombre_db" value="" />
    <add key="nombre_server" value="" />
    <add key="cadena_conexion" value="Data Source=MARCOANTONIO-PC;Initial Catalog=dbMantenimiento;Integrated Security=True" />
    </appSettings>
</configuration>